
######################################################################
# "RepRapDiscount 128x64 Full Graphic Smart Controller" type displays
# ######################################################################
#
#[display]
#lcd_type: hd44780
#rs_pin: LCD_RS
#e_pin: LCD_EN
#d4_pin: LCD_D4
#d5_pin: LCD_D5
#d6_pin: LCD_D6
#d7_pin: LCD_D7
#encoder_pins: ^BTN_EN1, ^BTN_EN2
#click_pin: ^!BTN_ENC
#kill_pin: ^!EXP2_8

[display]
lcd_type: st7920
cs_pin: LCD_RS
sclk_pin: LCD_D4
sid_pin: LCD_EN
encoder_pins: ^BTN_EN1, ^BTN_EN2
click_pin: ^!BTN_ENC

[output_pin beeper]
pin: BEEPER

[display_status]

