
#####################################################################
#   Extruder
## https://www.thingiverse.com/thing:4725897
#####################################################################

[extruder]
step_pin: STEPPER_M2_STEP
dir_pin: !STEPPER_M2_DIR
enable_pin: !STEPPER_M2_ENABLE
rotation_distance: 4.637
microsteps: 16
full_steps_per_rotation: 200	
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: HEATER_E0
sensor_type: PT1000
sensor_pin: TH0
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 170
max_extrude_only_distance: 500
max_extrude_only_velocity: 100 ;120
max_extrude_only_accel: 800
max_extrude_cross_section: 1

control = pid
#dragonhf
pid_kp = 30.025
pid_ki = 1.771
pid_kd = 127.233
pressure_advance: 0.05

[tmc2209 extruder]
uart_pin: STEPPER_M2_UART
interpolate: false
run_current: 0.70
hold_current: 0.1
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#	Fan Control
#####################################################################

[heater_fan hotend_fan]
##	Hotend Fan - FAN0 Connector
pin: FAN0
#tachometer_pin: ^ENDSTOP_X_MIN
max_power: 1.0
kick_start_time: 0.5
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[fan]
##	Print Cooling Fan - FAN1 Connector
pin: FAN1
#tachometer_pin: ^ENDSTOP_Z_MIN
max_power: 1.0
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.1

[temperature_fan orbiter]
##	Print Cooling Fan - FAN1 Connector
pin: FAN2
#tachometer_pin: ^ENDSTOP_Z_MIN
max_power: 1.0
kick_start_time: 0.5
##	Depending on your fan, you may need to increase this value
##	if your fan will not start. Can change cycle_time (increase)
##	if your fan is not able to slow down effectively
off_below: 0.10
#heater: orbiter
#stepper: extruder
min_temp: 10
max_temp: 69
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: TH1
control = watermark
target_temp:40


[temperature_sensor chamber]  #black
sensor_type: NTC 100K MGB18-104F39050L32
sensor_pin: TH2
min_temp: 10
max_temp: 90

#[heater_generic orbiter]
#heater_pin: HEATER_E3
#sensor_type: NTC 100K MGB18-104F39050L32
#sensor_pin: TH1
#max_power: 0.1
#min_temp: 10
#max_temp: 80
#control = pid
#pid_kp = 30.051
#pid_ki = 1.603
#pid_kd = 140.864
